@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

body {
    background: #C01933;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    background-image: url('media/background.png');
    background-size: object-fit;
    background-repeat: no-repeat;
    background-position: center;
}

/* .containerheader {
    margin-left: 300px;
    margin-bottom: 20px; 
    margin-top: 20px;
} */

.containerheader h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-align:justify;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.containerheader button {
    background: transparent;
    color: #000;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

.containerheader button:hover {
    background-color: #000;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.containerheader button i {
    margin-right: 5px;
    font-size: 50px;
}

.container {
    width: 360px;
    height: 15px;
    border: #fff solid 5px;
    border-radius: 20px;
    position: absolute;
    top: 10%;
    left: 40%;
 
}

.receipt {
    width: 350px;
    height: auto;
    background: #fff;
    border-radius: 20px;
    position: absolute;
    top: 12%; /* Adjusted position based on containerheader */
    left: 41%;
    color: black;
    margin: 0;
    border-bottom: 2px dashed black;
}

@keyframes print {
    0% {
        transform: translateY(-510px);
        opacity: 0;
    }
    35%{
       transform: translateY(-395px);
       opacity: 0.2;
    }
    40% {
        transform: translateY(-280px);
        opacity: 0.4;
    }
    50% {
        transform: translateY(-140px);
        opacity: 0.5;
    }
    60% {
        transform: translateY(0px);
        opacity: 0.6;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


.logo img {
    width: 100px;
    height: 50px;
    margin: 0;
}

.receipt-conatiner {
    margin: 0;
    padding: 10px;
}

.receipt-header {
    text-align: center;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin: 10px;
}

.receipt-header h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 30px;
}

.receipt-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: start;
    margin-left: 10px;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.item {
    margin-top: 10px;
    margin-left: 25px;
}

.item span {
    font-size: 15px;
    color: rgb(188, 184, 184);
}

.item h3 {
    font-family: inherit;
    font-weight: 400;

}
.receipt-footer {
    width: 350px;
    height: auto;
    background: #fff;
    border-radius: 20px;
    position: absolute;
}

.footer{
    position: absolute;
    top: 80%; 
    left: 41%;
    width: 350px;    
}
.footer-item{
 display: flex;
 justify-content: space-around;
 color: black;
 background: #fff;
 border: #fff solid 5px;
 border-radius: 20px;
 height: auto;
}

.footer-item h2{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
}

.footer-item img{
    width: 100px;
    height: 90px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 300px;
        height: 15px;
    }   
    .receipt {
        width: 300px;
        height: auto;
    }
    .receipt-header {
        grid-template-columns: 1fr;
    }
    .receipt-header h2 {
        font-size: 24px;
    }
    .receipt-header img {
        width: 40px;
        height: 40px;
    }
    .details {
        grid-template-columns: 1fr;
        margin-left: 0;
    }
    .item {
        margin-left: 0;
    }
    .item span {
        font-size: 12px;
    }
    .item h3 {
        font-size: 16px
    }
    .footer{
        width: 300px;
    }
    .footer-item{
        width: 300px;
    }
    .footer-item h2{
        font-size: 18px;
    }
    .footer-item img{
        width: 80px;
        height: 70px;
    }
    .containerheader h2 {
        font-size: 20px;
    }
    .containerheader button {
        font-size: 14px;
    }
    
}